bin
target
.cache
include/TypeSystemLanguage.def
include/TypeSystemLanguage-parenthesize.str
include/TypeSystemLanguage-Permissive.def
include/TypeSystemLanguage.generated.pp.af
include/TypeSystemLanguage.packed.esv
include/TypeSystemLanguage.pp.af
include/TypeSystemLanguage.rtg
include/TypeSystemLanguage.str
include/TypeSystemLanguage.tbl
include/typesystemlanguage.rtree
include/typesystemlanguage.ctree
include/typesystemlanguage.ctree.dep
include/typesystemlanguage.jar
include/typesystemlanguage-java.jar
editor/java/trans
editor/TypeSystemLanguage-*.generated.*
syntax/TypeSystemLanguage*.generated.esv
syntax/TypeSystemLanguage.generated.pp
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
include/*
lib/analysis
lib/editor
lib/index
lib/nabl
lib/properties
lib/task
lib/tmpl
lib/types
!include/Stratego-Coq.tbl
/include/
