<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="ts"
            description="TypeSystemLanguage"
            language="TypeSystemLanguage"
            derivedFrom="DynamicRoot"
            validator="org.metaborg.meta.lang.ts.TypeSystemLanguageValidator"
            validatorClass="org.metaborg.meta.lang.ts.TypeSystemLanguageValidator"
      ></language>
   </extension>
   <extension
         id="org.metaborg.meta.lang.ts.parser"
         name="TypeSystemLanguage Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="org.metaborg.meta.lang.ts.TypeSystemLanguageParseController"
            language="TypeSystemLanguage">
      </parser>
   </extension>    
</plugin>
